@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");



*{
    /* default padding and margin set to zero */ 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;

}

.header{
    display:flex;
    flex-direction: row;
    background-color: #e3e6f3;
    height: 80px;
    justify-content: space-between;
    padding: 20px 80px;
    
}
.right-section{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width:400px;
    
    justify-content:space-between;
    
}
header-list-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-list-nav ul {
    display: flex;
  }
.header-list-nav ul li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

.header-list-nav ul a{
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
.header-list-nav ul a:hover,
.header-list-nav ul a.active {
  color: #088178;
  content: "";
}